[run]
branch = True

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit = computational_oceanography_commentary/tests/*
       computational_oceanography_commentary/__init__.py
